
/* removes default from browser */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    margin-top: 56px;
    height: 100vh;
    width: auto;
    background-color: black;
    /* background-image: linear-gradient(to right, #686868, var(--tertiary-color)); */
    margin: 0 auto;
    /* font-family: "Raleway", sans-serif;  */
    color: rgb(0, 155, 46);
    /* color: black; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

h1 {
    padding-top: 16px;
}